@charset "utf-8";
@import 'https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800|Roboto:400,500,700';
body {
    font-family: roboto, sans-serif;
}

.about_info h2 {
    color: #ffb606;
}

.about_info img {
    width: 100%;
    height: 500px;
}

.features {
    background-color: #ffb606;
}

.f {
    width: 30%;
    margin-left: 20px;
}

.f i,
h3 {
    color: #ffb606;
}